@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --text-color: #fff;
    --font-utama: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}
body{
    min-height: 500vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;
}
.logo{
    width: 80px;
    height: 70px;
}
header ul{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12pt;
}
header ul li a:hover{
    color: green;
}
header.sticky{
    color: #000;
    background: #fff;
    transition: 0.5s ease-in-out;
}
header.sticky ul li a{
    color: #000;
}
.banner{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(Media/banner-utama.jpg);
    background-size: cover;
}
.banner h1{
    color: #fff;
    align-content: center;
    font-size: 62px;
    font-weight: 1000;

    animation-name: item-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
.about-us{
    display: flex;
    padding: 0px 30px 0 30px;
    /* background-color: aliceblue; */
    margin: 150px 0 0 0;
}
.description{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
.about-us .description h1{
    margin: 0 0 60px 40px;
    position: relative;
}
.about-us .description h1::after{
    content: '';
    position: absolute;
    background: green;
    width: 50%;
    height: 2px;
    top: 70px;
    left: -40px;
}
.about-us .description p{
    text-align: justify;
    font-size: 20px;
    margin: 30px 0 0 0;
    line-height: 25px;
}
.image-about-us{
    width: 550px;
    aspect-ratio: 4/3;
    object-fit: contain;
}
.packages{
    width: 100%;
    height: 150vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
    /* row-gap: 50px; */
    /* padding: 0px 30px; */
}
.packages h1 {
    justify-content: start;
    color: red;
    font-weight: 700;
    margin: -180px 0 0 0;
    padding: 0;
    position: relative;
}
.packages-after::after{
    content: '';
    position: absolute;
    background: green;
    width: 150%;
    height: 2px;
    top: 70px;
    left: -35px;
}
.packages-list{
    display: flex;
    padding: 100px 0 0 0;
}
.packages-1{
    /* background-color: antiquewhite; */
    box-shadow: 1px 1px 10px ;
    /* border: 1px solid black; */
    width: 350px;
    height: 600px;
    margin: 20px;
    padding: 0 0 0 0;
}
.packages-1 img{
    margin: 0;
    background-color: blue;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 350px;
    height: 150px;
    animation-duration: 1s;
}

.img-container {
    overflow: hidden;
    width: 350px;
    height: 150px;
}
.packages-1 img:hover{
    animation-name: smooth-scaling;
    animation-duration: 1s;
}
.packages-1 h1{
    color: #000;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.packages-1 h2{
    color: green;
    margin: 0 0 10px 0;
}
.packages-1 h3{
    color: red;
    margin: 0 0 10px 0;
}
.packages-1 p{
    font-size: 18px;
    margin: 0 0 10px 0;
}
.packages-1 ul{
    padding: 0 0 0 15px;
}
@keyframes item-up{
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes smooth-scaling{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}
