@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap');

:root {
    --text-color: #fff;
    --font-utama: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Noto Serif Ahom", serif; */
}
body{
    min-height: 300vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;
}

.logo {
    width: 80px;
    height: 70px;
}

header ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12pt;
}

header ul li a:hover {
    color: green;
}

header.sticky {
    color: #000;
    background: #fff;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

header.sticky ul li a {
    color: #000;
}

.banner {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(Media-Gallery/uluwatu.jpg);
    background-size: cover;
}

.banner h1 {
    color: #fff;
    align-content: center;
    font-size: 62px;
    font-weight: 1000;

    animation-name: item-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.about-us {
    align-content: center;
    padding: 0px 30px 0 30px;
    /* background-color: aliceblue; */
    margin: 150px 0 0 0;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    align-items: center;
}

.about-us .description h1 {
    margin: 0 0 60px 40px;
    position: relative;
}

.about-us .description h1::after {
    content: '';
    position: absolute;
    background: green;
    width: 100%;
    height: 2px;
    top: 50px;
    left: 0px;
}

.about-us .description p {
    text-align: justify;
    font-size: 20px;
    margin: 30px 0 0 0;
    line-height: 25px;
}

.image-gallery {
    border-radius: 10%;
    margin-left: 33%;
    width: 550px;
    aspect-ratio: 4/3;
}

.slider {
    max-width: 700px;
    max-height: 700px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 700px;
    height: 700px;
    display: block;
}


.navigation label:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Slider positions */
#slide1:checked~.slides {
    transform: translateX(0%);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}

#slide4:checked~.slides {
    transform: translateX(-300%);
}

#slide5:checked~.slides {
    transform: translateX(-400%);
}

.gallery h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 gambar per baris */
    gap: 20px;
    /* Jarak antar gambar */
    width: 100%;
    max-width: 900px;
    /* Lebar maksimum galeri */
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* footer */
footer{
    background-color: #f3f4f6;
    width: 100%;
    height: 300px;
    display: flex;
    padding: 30px 15px 0 15px;
}
footer .name{
    display: flex;
    flex-direction: column;
    width: 320px;
}
footer .name h1{
    font-size: 30px;
}
footer .name img{
    width: 64px;
    aspect-ratio: 1/1;
    margin: 30px 10px 0 0;
}
footer .menu{
    width: 315px;
    height: 100%;
    /* background-color: rebeccapurple; */
}
footer .menu p{
    text-decoration: underline;
    margin: 0 0 15px 0;
}
footer .menu ul li{
    list-style: none;
    margin: 0 0 10px 0;
}
footer .maps{
    display: flex;
    flex-direction: column;
}
footer .maps p{
    margin: 0 0 15px 0;
}
footer .contact{
    margin: 0 0 0 15px;
    width: 290px;
    /* background-color: red; */
}
footer .contact p{
    text-transform: uppercase;
}
footer .contact h3{
    margin: 15px 0 10px 0;
}
footer .contact ul{
    gap: 0;
}
footer .contact ul li{
    line-height: 20px;
    list-style: none;
    margin-bottom: 7px;
}
.hover-underline{
    text-decoration: none;
    color: #000;
}
@keyframes item-up{
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes smooth-scaling{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}